# --- Java ---
*.class
*.log

# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# --- VS Code ---
.vscode/
.settings/
.classpath
.project

# --- OS / IDE divers ---
# Windows
Thumbs.db
.DS_Store

# IntelliJ (au cas où tu l’ouvres un jour)
.idea/
*.iml
out/

# Eclipse (VS Code Java s’en inspire parfois)
.factorypath

# --- Cache tools ---
.mvn/timing.properties